<div class="attributes">
    <div class="attribute attribute--energy">

    </div>
    <div class="attribute attribute--health">
        
    </div>
    <div class="attribute attribute--basic-armour">
        
    </div>
    <div class="attribute attribute--ability-armour">
        
    </div>
    <div class="attribute attribute--energy-regen">
        
    </div>
    <div class="attribute attribute--health-regen">
        
    </div>
</div>