<div class="bar-stat">
    <div class="bar bar--aps">
        <div class="bar__labels">
            <div class="label">
                <p>0.5</p>
                <div class="arrow-container">
                    <div class="arrow"></div>
                </div>
            </div>
            <div class="label">
                <p>1</p>
                <div class="arrow-container">
                    <div class="arrow"></div>
                </div>
            </div>
            <div class="label">
                <p>1.5</p>
                <div class="arrow-container">
                    <div class="arrow"></div>
                </div>
            </div>
            <div class="label">
                <p>2</p>
                <div class="arrow-container">
                    <div class="arrow"></div>
                </div>
            </div>
            <div class="label">
                <p>2.5</p>
                <div class="arrow-container">
                    <div class="arrow"></div>
                </div>
            </div>
        </div>
        <div class="line">
            <div class="bar__bg"></div>
        </div>
    </div>
    <div class="bar bar--dps">
        <div class="bar__labels">
            <div class="label">
                <p>0</p>
                <div class="arrow-container">
                    <div class="arrow"></div>
                </div>
            </div>
            <div class="label">
                <p>200</p>
                <div class="arrow-container">
                    <div class="arrow"></div>
                </div>
            </div>
            <div class="label">
                <p>400</p>
                <div class="arrow-container">
                    <div class="arrow"></div>
                </div>
            </div>
            <div class="label">
                <p>600</p>
                <div class="arrow-container">
                    <div class="arrow"></div>
                </div>
            </div>
            <div class="label">
                <p>800</p>
                <div class="arrow-container">
                    <div class="arrow"></div>
                </div>
            </div>
        </div>
        <div class="line">
            <div class="bar__bg"></div>
        </div>
    </div>
    <div class="bar bar--burst">
        <div class="bar__labels">
            <div class="label">
                <p>0</p>
                <div class="arrow-container">
                    <div class="arrow"></div>
                </div>
            </div>
            <div class="label">
                <p>750</p>
                <div class="arrow-container">
                    <div class="arrow"></div>
                </div>
            </div>
            <div class="label">
                <p>1500</p>
                <div class="arrow-container">
                    <div class="arrow"></div>
                </div>
            </div>
            <div class="label">
                <p>2250</p>
                <div class="arrow-container">
                    <div class="arrow"></div>
                </div>
            </div>
            <div class="label">
                <p>3000</p>
                <div class="arrow-container">
                    <div class="arrow"></div>
                </div>
            </div>
        </div>
        <div class="line">
            <div class="bar__bg"></div>
        </div>
    </div>
</div>