html, body {
    background-color: #111;
    margin: 0;
    padding: 0;
    color: #fff;
}

.heroes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero {
    background-color: #111;
    border: 1px solid #222;
    border-radius: 10px;
    width: 500px;
    color: #fff;
    .portrait img {
        width: 15px;
    }
}

.bar-stat {
    width: 100%;
    .bar {
        height: 20px;
        &--aps {
            background-color: yellow;
        }
        &--burst {
            background-color: white;
        }
        &--dps {
            background-color: red;
        }
    }
}

.filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
    margin: 0 auto;
    &__trait {
        width: 100px;
        border: 1px solid #333;
        background-color: #222;
        text-align: center;
        margin: 5px;
        color: #fff;
        cursor: pointer;
        padding: 10px;
        &:focus {
            outline: none;
        }
    }
}