html, body {
    background-color: #111;
    margin: 0;
    padding: 0;
    color: #fff;
}

.heroes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero {
    background-color: #111;
    border: 1px solid #222;
    border-radius: 10px;
    width: 500px;
    color: #fff;
    .portrait img {
        width: 15px;
    }
}

.bar-stat {
    width: 100%;
    height: 20px;
    .bar {
        height: 20px;
        background-color: red;
    }
}