<h1>Test Succeeded</h1>
<p>Chrome extension: Allow-Control-Allow-Origin: *</p>
<p>https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi?utm_source=chrome-app-launcher-info-dialog</p>

{{outlet}}
