<h1>Heroes</h1>
<p>Target: "C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" --disable-web-security --user-data-dir="C:\Users\apodworny\AppData\Local\Google\Chrome\User Data\Default"</p>
<p>Attacks per second = BAT / ((100+AS) / 100)</p>
<p>Add a filter to sort by traits at the top</p>
<p>Assassin</p>
<p>Attacker</p>
<p>Burst</p>
<p>Controller</p>
<p>Durable</p>
<p>Elusive</p>
<p>Ganker</p>
<p>Guardian</p>
<p>Initiator</p>
<p>Marauder</p>
<p>Sieger</p>
<p>Wild</p>
<p>Zoner</p>

Overall damage for a hero:

Per ability:
damage

150/1.25s = 120

150/120 = 1
1.25

x = 1.0

1.25s * 120 = 150


950/15s

63.3/1s


150/1.25s

(150/1.25)/(1.25/1.25)s

120/1s




<div class="heroes">
    {{#each model as |hero|}}
    <div class="hero">
        <div class="basics">
            <div class="portrait">
                <img src="{{hero.images}}" alt="Hero image">
            </div>
            <div class="name">
                <p>{{hero.name}}</p>
            </div>
        </div>
        <div class="basics">
            {{#each hero.attributesByLevel as |stat|}}
            <p>{{stat.BaseAttackTime}}</p>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>