<h1>Heroes</h1>
<p>Add a filter to sort by traits at the top</p>
<p>Assassin</p>
<p>Attacker</p>
<p>Burst</p>
<p>Controller</p>
<p>Durable</p>
<p>Elusive</p>
<p>Ganker</p>
<p>Guardian</p>
<p>Initiator</p>
<p>Marauder</p>
<p>Sieger</p>
<p>Wild</p>
<p>Zoner</p>
<div class="heroes">
    {{#each model as |hero|}}
    <div class="hero">
        <div class="basics">
            <div class="portrait">
                <img src="{{hero.images}}" alt="Hero image">
            </div>
            <div class="name">
                <p>{{hero.name}}</p>
            </div>
        </div>
        <div class="basics">
            {{#each hero.attributesByLevel as |stat|}}
            <p>{{stat.BaseAttackTime}}</p>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>