<div class="intro">
    <h1>Paragon Hero Stats</h1>
    <p>The site is heavily in early development and is nowhere near finished.</p>
    <p>You seem lost, this page is nowhere near done! For something somewhat useful check out the {{#link-to 'heroes'}}hereos page{{/link-to}}.</p>
</div>